<h1>@ViewData["Title"]</h1>
<p>Il corso che hai cercato non esiste.</p>
<p>Ritorna alla <a asp-controller="Courses" asp-action="Index"> pagina dell'elenco dei corsi </a>e selezionane uno esistente.</p>