<div class="row">
    <div class="col-md-8">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="HelloWorld" asp-action="Index" method="get">
        </form>
    </div>

    <ul>
        <li>
            1
        </li>
    </ul>

</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"></div>
</div>

<div class="col-md-2"></div>